Last login: Mon Jun  2 11:47:47 on ttys026
arnavsaxena@Arnavs-MacBook-Pro ~ % ar
x
arnavsaxena@Arnavs-MacBook-Pro arxena % cd ..
arnavsaxena@Arnavs-MacBook-Pro arx %
ls
a2einteractive
arx-app
arx-avatars
arx-crx
arx-enrich
arx-langchain-chat-nextjs
arx-nest
arx-tests
arxena
arxena-site
arxena.code-workspace
arxenv
arxtension_v2
arxtension_v2.zip
client_uploads
create_sender_fetcher_extensions_v2.sh
materials
salary_survey
test-arxena-site
todo
twenty-devs
zip_arxtension_v2_arx.sh
arnavsaxena@Arnavs-MacBook-Pro arx %
cd ..
arnavsaxena@Arnavs-MacBook-Pro MEGA % ls
arx	arx-app	Icon?
arnavsaxena@Arnavs-MacBook-Pro MEGA % cd arx-app
arnavsaxena@Arnavs-MacBook-Pro arx-app % git status
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   build/builder-debug.yml
	modified:   build/latest-mac.yml
	modified:   package.json
	modified:   src/main/main.ts

no changes added to commit (use "git add" and/or "git commit -a")
arnavsaxena@Arnavs-MacBook-Pro arx-app % cat .gitignore
# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/
build/
# Compiled Java class files
*.class
build/*
# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

arnavsaxena@Arnavs-MacBook-Pro arx-app %
